.mat-toolbar.mat-white {
    background: #ffffff;
    color: rgb(0, 0, 0);
}

.mat-toolbar-row{
    padding-left: 0;
}

.logo-container{
    width: 56px;
    text-align: center;
}

.title-container{
    position: relative;
}

.title-box {
    margin: 0;
    padding-left: 20px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 15px;
    row-gap: 1px;
}

.mat-toolbar, .mat-toolbar h1, .mat-toolbar h2, .mat-toolbar h3, .mat-toolbar h4, .mat-toolbar h5, .mat-toolbar h6 {
    font: 500 12px Roboto, "Helvetica Neue", sans-serif!important;
}