.container {
    width: 100%;
    height: 100%;
    padding: 0px;

}
.mat-drawer {
    width: auto;
    
}
.mat-list-option:hover, .mat-list-option:focus, .mat-nav-list .mat-list-item:hover, .mat-nav-list .mat-list-item:focus, .mat-action-list .mat-list-item:hover, .mat-action-list .mat-list-item:focus{
    box-shadow: inset -4px 0 0px 0px red;
    background-color: transparent;
    color: red
}
.mat-list-item{
    margin: 20px 0; 
}
